
        .body-initial {
            background-color: rgba(255, 255, 255, 1);
        }
        
        .silex-id-1478366444112-1 {
            top: 100px;
            left: NaNpx;
            background-color: transparent;
        }
        
        .silex-id-1478366444112-0 {
            min-height: 100px;
            background-color: transparent;
            width: 1200px;
        }
        
        .silex-id-1511895324274-2 {
            width: 199px;
            min-height: 38px;
            top: 28px;
            left: 464px;
        }
        
        .silex-id-1511896526718-8 {
            width: 134px;
            min-height: 28px;
            top: 34px;
            left: 501px;
        }
        
        .silex-id-1511896701089-9 {
            width: 132px;
            min-height: 25px;
            top: 32px;
            left: 531px;
        }
        
        .silex-id-1474394621033-3 {
            top: 140px;
            left: 5px;
        }
        
        .silex-id-1474394621032-2 {
            min-height: 641px;
            background-color: transparent;
            width: 1200px;
        }
        
        .silex-id-1511896727061-10 {
            width: 211px;
            min-height: 100px;
            top: 172px;
            left: 470px;
        }
        
        .silex-id-1511896795590-11 {
            width: 100px;
            min-height: 100px;
            top: 176px;
            left: 455px;
        }
        
        .silex-id-1511897018728-12 {
            width: 499px;
            min-height: 353px;
            top: 82px;
            left: 353px;
        }
        
        .silex-id-1478366450713-3 {
            top: 100px;
            left: NaNpx;
            background-color: transparent;
        }
        
        .silex-id-1478366450713-2 {
            min-height: 100px;
            background-color: transparent;
            width: 1200px;
        }
        
        .silex-id-1442914737143-3 {
            min-height: 53px;
            width: 349px;
            top: 29px;
            left: 430px;
        }
    